{{#each stores}}
    <div class="product-store-item js-store-item">
        <div class="product-store-item-inner">
            <div class="store-info js-store-info">
                <div class="store-image">
                    <img src="{{picture}}" alt="{{name}} image">
                </div>
                <div class="store-name">{{name}}</div>
                <div class="store-price"><i class="icon-inr"></i> 23,500</div>
            </div>
        </div>
    </div>
{{/each}}
