// -------------------------------------
// BASIC ELEMENTS CSS STARTS
// -------------------------------------
a {
    color: @link-color;
    text-decoration: none;
    &:hover {
        color: @link-color-hover;
        text-decoration: none;
    }
}
// -------------------------------------
// BASIC ELEMENTS CSS ENDS
// -------------------------------------


// -------------------------------------
// POPOVER CSS STARTS - taken from Bootstrap
// -------------------------------------

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left; // Reset given new insertion method
  background-color: @popoverBackground;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  .border-radius(6px);
  .box-shadow(0 5px 10px rgba(0,0,0,.2));

  // Overrides for proper insertion
  white-space: normal;

  // Offset the popover to account for the popover arrow
  &.top     { margin-top: -10px; }
  &.right   { margin-left: 10px; }
  &.bottom  { margin-top: 10px; }
  &.left    { margin-left: -10px; }
}

.popover-title {
  margin: 0; // reset heading margin
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: @popoverTitleBackground;
  border-bottom: 1px solid darken(@popoverTitleBackground, 5%);
  .border-radius(5px 5px 0 0);

  &:empty {
    display: none;
  }
}

.popover-content {
  padding: 9px 14px;
}

// Arrows
//
// .arrow is outer, .arrow:after is inner

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow {
  border-width: @popoverArrowOuterWidth;
}
.popover .arrow:after {
  border-width: @popoverArrowWidth;
  content: "";
}

.popover {
  &.top .arrow {
    left: 50%;
    margin-left: -@popoverArrowOuterWidth;
    border-bottom-width: 0;
    border-top-color: #999; // IE8 fallback
    border-top-color: @popoverArrowOuterColor;
    bottom: -@popoverArrowOuterWidth;
    &:after {
      bottom: 1px;
      margin-left: -@popoverArrowWidth;
      border-bottom-width: 0;
      border-top-color: @popoverArrowColor;
    }
  }
  &.right .arrow {
    top: 50%;
    left: -@popoverArrowOuterWidth;
    margin-top: -@popoverArrowOuterWidth;
    border-left-width: 0;
    border-right-color: #999; // IE8 fallback
    border-right-color: @popoverArrowOuterColor;
    &:after {
      left: 1px;
      bottom: -@popoverArrowWidth;
      border-left-width: 0;
      border-right-color: @popoverArrowColor;
    }
  }
  &.bottom .arrow {
    left: 50%;
    margin-left: -@popoverArrowOuterWidth;
    border-top-width: 0;
    border-bottom-color: #999; // IE8 fallback
    border-bottom-color: @popoverArrowOuterColor;
    top: -@popoverArrowOuterWidth;
    &:after {
      top: 1px;
      margin-left: -@popoverArrowWidth;
      border-top-width: 0;
      border-bottom-color: @popoverArrowColor;
    }
  }

  &.left .arrow {
    top: 50%;
    right: -@popoverArrowOuterWidth;
    margin-top: -@popoverArrowOuterWidth;
    border-right-width: 0;
    border-left-color: #999; // IE8 fallback
    border-left-color: @popoverArrowOuterColor;
    &:after {
      right: 1px;
      border-right-width: 0;
      border-left-color: @popoverArrowColor;
      bottom: -@popoverArrowWidth;
    }
  }
}
// -------------------------------------
// POPOVER CSS ENDS
// -------------------------------------

// -------------------------------------
// MAP CONTROL BAR CSS STARTS
// -------------------------------------
.map-control-bar {
    width: 15%;
    position: absolute;
    left: 20px;
    top : 20px;
    overflow: hidden;
    background: @brand-info;
    background: #ffb600;
    opacity: 0.85;
    z-index: 10;
    border-radius: 4px;
    // box-shadow: 1px 2px 3px @black-70;
    .map-control-bar-button {
        .delta;
        margin : 0;
        float: left;
        padding: 10px 1%;
        border-right: 1px solid darken( @brand-secondary, 10% );
        width: 47.5%;
        text-align: center;
        color: white;
        cursor: pointer;
        &:hover {
            background: darken( @brand-secondary, 20% );
        }
        &.button-last {
            border : none;

        }
    }
}
// -------------------------------------
// MAP CONTROL BAR CSS ENDS
// -------------------------------------

// -------------------------------------
// MAP CONTAINER CSS STARTS
// -------------------------------------
.search-map-sc {
    float: left;
    width: 80%;
    overflow: hidden;
    position: relative;
    height: 100%;
    #map-canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}
// -------------------------------------
// MAP CONTAINER CSS ENDS
// -------------------------------------


// -------------------------------------
// INFO BOX CSS STARTS
// -------------------------------------
.search-info-sc {
    .border-bottom-radius( 4px );
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45%;
    overflow: hidden;
    z-index: 10;
    border-top: 2px solid darken( @brand-primary, 20% );
    display: none;
    .search-info-inner {
        overflow: hidden;
        position: relative;
        .search-info-close {
            position: absolute;
            right: 0;
            top: 0;
            width: 20px;
            height: 20px;
            color: @black-30;
            cursor: pointer;
            &:hover {
                color: @black-80;
            }
            z-index: 99;
            text-align: center;
            font-size: 1.5em;
        }
        .search-info-top-bar {
            .delta;
            width: 96%;
            position: relative;
            float: left;
            background: darken( @brand-primary, 20% );
            background: white;
            color: @black-80;
            padding: 10px 2%;
            box-shadow: 1px 2px 3px @black-60;
            margin: 0;
            .search-info-top-row1 {
                display: block;
                width: 100%;
                overflow: hidden;
                padding: 10px 0;
                .search-info-store-title {
                    width: 60%;
                    display: block;
                    float: left;
                }
                .search-info-store-status {
                    width: 39%;
                    float: right;
                    border-left: 1px solid @black-20;
                    text-align: center;
                    .text {
                        display: inline;
                    }
                    i {
                        color: @yellow;
                        &.status0 {
                            color: @brand-success;
                        }
                        &.status1 {
                            color: @brand-danger;
                        }
                        &.status2 {
                            color: @yellow;
                        }
                    }
                }
            }
            .search-info-top-row2{
                display: block;
                position: relative;
                overflow: hidden;
                width: 95%;
                padding: 10px 0;
                margin: 0 auto;
                border-top: 1px solid @black-20;
                .search-info-price,
                .search-info-rating,
                .search-info-distance {
                    width: 33.33%;
                    display: block;
                    float: left;
                    text-align: center;
                    color: @black-60;
                }
            }
        }
        .search-info-bottom-bar {
            .delta;
            margin: 0;
            width: 100%;
            float: left;
            overflow: hidden;
            clear: both;
            background: darken( @brand-primary, 20% );
            background: @brand-primary;
            color: @ivory;
            .search-info-shortlist {
                width: 31%;
                float: left;
                padding: 10px 1% 10px 1%;
                border-right: 1px solid darken( @brand-primary, 20% );
                text-align: center;
                &:hover {
                    background: @black-70;
                    color: white;
                    cursor: pointer;
                }
                &.selected {
                    background: darken( @brand-primary, 20% );
                }
            }
            .search-info-expand {
                width: 31%;
                float: right;
                padding: 10px 1%;
                text-align: center;
                &:hover {
                    background: @black-70;
                    color: white;
                    cursor: pointer;
                }
                i {
                    opacity: 0.5;
                    padding-left: 5px;
                }
                .expand-value {
                    display: inline;
                }
            }
            .search-info-collapse {
                .search-info-expand;
                display: none;
            }
            .search-info-directions {
                width: 31%;
                float: left;
                padding: 10px 1%;
                border-right: 1px solid darken( @brand-primary, 20% );
                text-align: center;
                &:hover {
                    background: @black-70;
                    color: white;
                    cursor: pointer;
                }
                i {
                    opacity: 0.5;
                    padding-left: 5px;
                }
                .directions-value {
                    display: inline;
                }

            }

        }
        .search-info-expand-sc {
            display: none;
            position: relative;
            overflow: hidden;
            background: @ivory;
            .border-bottom-radius( 4px );
            border: 1px solid @black-20;
            border-top: none;
            max-height: 300px;
            .search-info-expand-inner {
                .delta;
                margin: 0;
                overflow: hidden;
                position: relative;
                padding: 10px;

                .search-info-expand-top {
                    overflow: hidden;
                    position: relative;
                    .search-info-expand-image {
                        margin: 0 auto;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        display: block;
                        img {
                            width: 100%;
                            height: 100%;
                            display: inline;
                        }
                    }
                    .search-info-expand-name {
                        display: block;
                        text-align: center;
                        font-weight: 400;
                    }
                    .search-info-expand-address {
                        display: block;
                        text-align: center;
                        margin-top: 10px;
                    }
                    .search-info-expand-phone {
                        display: block;
                        text-align: center;
                        margin-top: 10px;
                        i {
                            opacity: 0.5;
                        }
                        .search-info-phone-value {
                            display: inline;
                        }
                    }
                }
                .search-info-expand-other-info {
                    overflow: hidden;
                    position: relative;
                    margin-top: 10px;
                    .search-info-directions-button {
                        .flat-button;
                        background: @brand-primary;
                        width: 100px;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}
// -------------------------------------
// INFO BOX CSS ENDS
// -------------------------------------


// -------------------------------------
// BUTTON CSS STARTS
// -------------------------------------
.flat-button {
    .border-radius(2px);
    .transition( all 0.5s ease-in-out );
    background: @black-70;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    &:hover {
        background: darken( @black-70, 20% );
    }
}
// -------------------------------------
// BUTTON CSS ENDS
// -------------------------------------


// -------------------------------------
// HEADER CSS STARTS
// -------------------------------------
.lnd-header {
    position: absolute;
    padding: 10px 2%;
    width: 96%;
    margin: 0;
    background: @ivory;
    height: 28px;
    box-shadow: 1px 2px 3px @black-20;
    z-index: 999;
    .lnd-logo-container {
        .delta;
        .sans;
        float: left;
        margin-bottom: 0;
        span {
            color: @black-80;
        }
        .icon {
            float: left;
            .border-radius( 50% );
            background: @brand-primary;
            color: white;
            padding: 5px;
            margin-top: -3px;
            margin-right: 10px;
        }
    }
    .lnd-menu {
        .delta;
        margin-bottom: 0;
        position: relative;
        overflow: hidden;
        float: right;
        list-style: none;
        .lnd-menu-item {
            display: inline;
            padding-right: 20px;
        }
    }

    .main-search-container {
        // overflow: hidden;
        float: right;
        width: 60%;
        position: relative;
        border-radius: 4px;
        border: 1px solid @black-20;
        padding: 5px 0;
        background: white;
        .search-input {
            float: left;
            position: relative;
            width: 60%;
            .main-search-input {
                .epsilon;
                box-shadow: none;
                border: none;
                width: 92%;
                height: 100%;
                margin: 0;
                padding: 0 4%;
                color: @black-40;
                &:active {
                    outline: none;
                    border: none;
                    box-shadow: none;
                    color: @brand-primary;
                }
                &:focus {
                    outline: none;
                    border: none;
                    box-shadow: none;
                    color: @brand-primary;
                }
            }
        }
        .search-input-icon {
            .delta;
            margin: -2px 0 0 0;
            display: block;
            float: left;
            position: relative;
            width: 8%;
            text-align: right;
            padding-right: 2%;
            color: @brand-primary;
            cursor: pointer;
        }
        .search-location-sc {
            .epsilon;
            margin-bottom: 0;
            position: relative;
            width: 30%;
            float: left;
            cursor: pointer;
            min-height: 1px;
            .search-location-label {
                display: block;
                float: left;
                width: 90%;
                position: relative;
                text-align: right;
            }
            .icon {
                .delta;
                margin: 0;
                display: block;
                float: right;
                width: 10%;
                text-align: center;
                display: none;
                &.icon-spinner {
                    color: @brand-primary;
                }
            }
            .search-location-dropdown {
                display: none;
            }
        }
        .popover {
            display: block;
            width: 100%;
            .search-location-dropdown-input {
                width: 100%;
                display: block;
                input {
                    .epsilon;
                    box-shadow: none;
                    border: 1px solid @black-20;
                    border-radius: 4px;
                    width: 92%;
                    height: 1.6em;
                    margin: 0;
                    padding: 5px 4%;
                    color: @black-40;
                    &:active {
                        outline: none;
                        box-shadow: none;
                        color: @brand-primary;
                    }
                    &:focus {
                        outline: none;
                        box-shadow: none;
                        color: @brand-primary;
                    }
                }
            }
            .search-location-dropdown-update-button {
                .epsilon;
                .flat-button;
                background: @black-60;
                padding: 5px 10px;
                width: 70%;
                margin: 10px auto;
                &:hover{
                    background: @black-80;
                }
            }
            .search-location-dropdown-auto {
                width: 100%;
                margin: 10px 0;
                color: @black-30;
                text-align: center;
                cursor: pointer;
                &:hover {
                    color: @black-80;
                }
                .auto-text {
                    display: inline;
                    padding-left: 10px;
                }
            }
        }

    }
}
// -------------------------------------
// HEADER CSS ENDS
// -------------------------------------


// -------------------------------------
// FOOTER CSS STARTS
// -------------------------------------

.lnd-footer {
    position: absolute;
    padding: 10px 2%;
    width: 96%;
    overflow: hidden;
    bottom: 0;
    height: 20px;
    box-shadow: 1px -2px 3px @black-20;
    z-index: 999;
    background: @ivory;
    .lnd-footer-inner {
        .delta;
        list-style: none;
        color: @black-80;
        margin: 0;
        .lnd-footer-list-item {
            display: inline;
            padding-right: 20px;
        }

        .lnd-footer-list {
            float: left;
        }
        .lnd-footer-sub-list {
            float: right;
            display: block;
            position: relative;
            .credits {
                .opacity( 0.5 );
            }
        }
    }
}
// -------------------------------------
// FOOTER CSS ENDS
// -------------------------------------


// -------------------------------------
// HOVER BUBBLE CSS STARTS
// -------------------------------------
.hover-bubble {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    overflow: hidden;
}

.hover-bubble-inner {
    overflow: hidden;
    position: relative;
    text-align: center;
    font-size: 1.2em !important;
    color: white;
    line-height: 1.5em;
    .hover-bubble-status {
        font-size: 1em;
        display: block;
        padding: 5px 10px;
        float: left;
    }
    .hover-bubble-price {
        font-size: 1em;
        padding: 5px 10px;
        background: rgba( 0,0,0,0.15 );
        display: block;
        float: left;
    }
}
// -------------------------------------
// HOVER BUBBLE CSS ENDS
// -------------------------------------


// -------------------------------------
// ARROW BOX CSS STARTS
// -------------------------------------

.arrow_box {
    position: relative;
    background: #ffffff;
}
.arrow_box:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
}
// -------------------------------------
// ARROW BOX CSS ENDS
// -------------------------------------


// -------------------------------------
// CUSTOM DROPDOWN CSS STARTS
// -------------------------------------
.eys-dropdown {
    .delta;
    float: left;
    border: 1px solid @black-20;
    position: relative;
    background: white;
    cursor: pointer;
    padding: 5px 0;
    border-radius: 3px;
    margin-bottom: 0;
    &.selected {
        background: white;
        border-radius: 0;
        .border-top-radius( 3px );
    }
    .filter-item-status {
        color: @brand-success;
        display: none;
        float: left;
    }
    .filter-item-label {
        float: left;
        color: @black-70;
        text-align: left;
        padding: 0 5px;
    }
    .filter-item-dropdown {
        float: right;
        padding-right: 10px;
        color: @black-10;
    }
    .filter-item-list {
        display: none;
        width: 95%;
        left: -1px;
        position: absolute;
        top: 29px;
        background: white;
        padding: 10px 2.5%;
        overflow: hidden;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        border: 1px solid @black-20;
        border-top: none;
        .filter-item-list-item {
            float: left;
            overflow: hidden;
            padding: 10px 0;
            width: 100%;
            border-bottom: 1px dotted @black-20;
            .icheckbox_flat-red {
                float: left;
                margin-right: 10px;
            }
            label {
                cursor: pointer;
            }
        }
    }
    .filter-list-slider {
        .filter-item-list-slider-data {
            display: none;
        }
        .filter-item-list-slider-label {
            .epsilon;
            width: 100%;
            display: block;
            position: relative;
        }
        .filter-item-list-slider-canvas {
            .noUiSlider;
            width: 100%;
            position: relative;
        }
    }
}
// -------------------------------------
// CUSTOM DROPDOWN CSS ENDS
// -------------------------------------
