

.lnd-main-container {
    .border-radius( 2px );
    // background: rgba( 233, 90, 90, 0.85 );
    background: rgba( 255, 255, 255, 0.65 );
    position: fixed;
    top: 12%;
    right: 5%;
    height: 78%;
    width: 40%;
    z-index: 100;
    .lnd-main-container-inner {
        overflow: hidden;
        padding: 20% 10px;
        .lnd-main-text {
            .alpha;
            .sans;
            width: 100%;
            display: block;
            position: relative;
            color: darken( @brand-primary, 20% );
            font-weight: 700;
        }
        .lnd-main-input-container {
            .delta;
            .placeholder( lighten( @brand-primary, 20% ) );
            .border-radius(0);
            .border-left-radius( 2px );

            display: block;
            float: left;
            margin-top: 20px;
            width: 70%;
            height: 30px;
            padding: 5px;
            box-shadow: none;
            border: none;
            color: white;
            background: darken( @brand-primary, 20% );
            &:focus {
                box-shadow: none;
                outline: none;
            }
        }
        .lnd-main-submit {
            .flat-button;
            .delta;
            .border-radius(0);
            .border-right-radius( 2px );
            margin-top: 20px;
            height: 30px;
            line-height: 30px;
            vertical-align: middle;
            padding: 5px;
            width: 30px;
            float: left;
            display: block;
            position: relative;
        }
    }
}



.lnd-sc {
    #map-canvas {
        position: fixed !important;
        top: 12%;
        width: 100%;
        height: 78%;
        z-index: 10;
    }
}
