.product-sc {
    display: block;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 48px;
    bottom: 40px;
    border-top: 1px solid @black-80;
    .product-sc-inner {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    .product-main-sc {
        overflow: hidden;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }
    .product-store-sc {
        float: left;
        width: 20%;
        overflow: hidden;
        position: relative;
        height: 100%;
        z-index: 99;
        box-shadow: 1px 2px 3px @black-70;
        .product-store-menu {
            overflow: hidden;
            position: relative;
            width: 100%;
            opacity: 1;
            background: @ivory;
            .product-store-menu-item {
                width: 22.5%;
                overflow: hidden;
                float: left;
                display: block;
                padding: 10px 1%;
                color: @black-50;
                position: relative;
                border-right: 1px solid @black-20;
                cursor: pointer;
                &:hover{
                    color: white;
                }
                &.item-last {
                    border: none;
                }
                .menu-item-icon,
                .menu-item-title,
                .menu-item-count {
                    .delta;
                    margin: 0;
                    display: block;
                    position: relative;
                }
                .menu-item-icon {
                    display: block;
                    opacity: 1;
                    margin: 0 auto;
                    position: relative;
                    text-align: center;
                    &.status-circle {
                        width: 10px;
                        height: 10px;
                        border: 4px solid;
                        border-radius: 50%;
                        margin: 0 auto;
                        position: relative;
                        display: block;
                        &.status1 {
                            border-color: lighten( @brand-primary, 20% );
                            background: @brand-primary;
                        }
                        &.status2 {
                            border-color: lighten( @brand-success, 20% );
                            background: @brand-success;
                        }
                        &.status3 {
                            border-color: lighten( @yellow, 20% );
                            background: @yellow;
                        }
                        &.status4 {
                            border-color: lighten( @black-50, 20% );
                            background: @black-50;
                        }

                    }
                }
                .menu-item-count {
                    .epsilon;
                    // background: #27abe9;
                    padding:  0 5px;
                    border-radius: 4px;
                    color: @black-50;
                    line-height: 1.5em;
                    margin: 0 auto;
                    text-align: center;
                }
                .menu-item-arrow-container {
                    display: none;
                    position: absolute;
                    left: 50%;
                    bottom: -3px;
                    background: transparent;
                }
                &.selected {
                    .menu-item-arrow-container {
                        display: block;
                    }
                }
            }
        }
        .product-store-inner {
            overflow: hidden;
            position: relative;
            height: 100%;
            .product-store-preview {
                .product-store-image {
                    width: 80%;
                    padding: 5%;
                    margin: 0 auto;
                    img {
                        width: 100%;
                    }
                }
            }
            .product-store-section {
                overflow: hidden;
                position: relative;
                height: 100% !important;
                &.collapse {
                    height: auto;
                }
                .section-title {
                    .delta;
                    padding: 10px 2%;
                    overflow: hidden;
                    position: relative;
                    width: 96%;
                    height: 3%;
                    margin: 0;
                    opacity: 0.75;
                    background: @offWhite;
                    border-bottom: 1px solid;
                    cursor: pointer;
                    .icon-chevron-down {
                        display: none;
                    }
                    .section-title-text {
                        display: inline;
                        padding-left: 10px;
                    }
                }
                .section-store-container {
                    overflow: hidden;
                    position: relative;
                    display: none;
                    height: 97%;
                }
                &.section-inStock {
                    .section-title {
                        border-color: @brand-success;
                        color: @brand-success;
                    }
                }
                &.section-outStock {
                    .section-title {
                        border-color: @brand-danger;
                        color: @brand-danger;
                    }
                }
            }
            .product-store-item {
                position: relative;
                width: 100%;
                padding: 5px 0;
                border-bottom: 1px solid @black-20;
                .product-store-item-inner {
                    overflow: hidden;
                    position: relative;
                    padding: 5px;
                    .store-info {
                        overflow: hidden;
                        position: relative;
                        display: block;
                        .store-image {
                            float: left;
                            width: 32px;
                            height: 32px;
                            text-align: center;
                            img {
                                max-width: 100%;
                                max-height: 100%;
                                vertical-align: middle;
                            }
                        }
                        .store-name {
                            .delta;
                            font-weight: 400;
                            margin: 0 2.5%;
                            float: left;
                            width: 45%;
                        }
                        .store-price {
                            .delta;
                            color: @brand-primary;
                            width: 30%;
                            float: left;
                            margin: 0;
                        }


                    }
                }
            }
        }
    }
}
.product-info-main {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    .product-info-inner {
        padding: 10px 5px;
        overflow: hidden;
        .product-info-left {
            overflow: hidden;
            position: relative;
            float: left;
            .product-image {
                float: left;
            }
            .product-name {
                .gamma;
                margin-left: 10px;
                margin-bottom: 0;
                overflow: hidden;
                float: left;
            }
            .product-sub {
                .gamma;
                margin-left: 10px;
                margin-bottom: 0;
                float: left;
                color: @black-80;
                font-weight: 100;
            }
            .product-price {
                .gamma;
                color: @brand-primary;
                margin-bottom: 0;
                float: left;
                margin-left: 20px;
                .product-price-value {
                    display: inline;
                }
            }
        }
        .product-info-right {
            float: right;
            overflow: hidden;
            position: relative;
            .product-more-details-container {
                .epsilon;
                margin: 0;
                overflow: hidden;
                position: relative;
                .product-more-details-button {
                    .flat-button;
                    background: @black-70;
                    width: 150px;
                    padding: 8px 10px;
                }
            }
        }
    }
}

.product-overlay{
    position: fixed;
    width: 100%;
    background: black;
    opacity: 0.5;
    z-index: 999999;
    left: 0;
    display: none;
    top: 0px;
    bottom: 0px;
}

.product-details-sc {
    .animated;
    .fadeInRight;
    overflow: hidden;
    position: fixed;
    display: none;
    width: 40%;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 9999999;
    background: white;
    border: 1px solid @black-20;
    box-shadow: 1px -2px 5px @black-80;
    .product-details-inner {
        overflow: hidden;
        padding: 0px 10px;
        position: relative;
        .close-button {
            .gamma;
            margin: 0;
            position: absolute;
            display: block;
            top: 20px;
            right: 20px;
            opacity: 0.5;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
        .product-details-title {
            .gamma;
            font-weight: 700;
            border-bottom: 2px solid @offWhite;
            padding: 10px 1%;
            width: 98%;
            margin: 0;
            overflow: hidden;
            color: @black-50;
            .product-details-title-text {
                display: inline;
                padding-left: 10px;
            }
        }
        .product-details-main {
            padding: 10px 0;
            overflow: hidden;
            position: relative;
            width: 100%;
            .product-details-image-sc {
                width: 90%;
                margin: 0 auto;
                overflow: hidden;
                text-align: center;
                height: 350px;
                position: relative;
                .dots {
                    position: relative;
                    width: 100%;
                    -webkit-padding-start: 0px;
                    li {
                        display: inline-block;
                        width: 5px;
                        height: 5px;
                        margin: 0 4px;
                        text-indent: -999em;
                        border: 2px solid @black-60;
                        border-radius: 6px;
                        cursor: pointer;
                        -webkit-transition: background .5s, opacity .5s;
                        -moz-transition: background .5s, opacity .5s;
                        transition: background .5s, opacity .5s;
                        &.active {
                            background: @brand-primary;
                            border-color: @brand-primary;
                        }
                    }
                }
                .arrows {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    top: 33%;
                    color: white;
                    font-size: 2em;
                    .prev {
                        position: relative;
                        float: left;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        vertical-align: middle;
                        text-align: center;
                        border-radius: 50%;
                        border: 3px solid white;
                        margin-left: 10px;
                        cursor: pointer;
                        opacity: 0.5;
                        &:hover {
                            opacity: 1;
                        }
                    }
                    .next {
                        .prev;
                        float: right;
                        margin-right: 10px;
                    }
                }

                .product-image-slider {
                    width: 100%;
                    height: 300px;
                    position: relative;
                    overflow: auto;
                    display: block;
                    li {
                        list-style: none;
                    }
                    ul {
                        height: 300px;
                        -webkit-padding-start: 0px;
                        li {
                            height: 300px;
                            float: left;
                        }
                    }
                }
            }
            .product-details-info-sc {
                overflow: hidden;
                position: relative;
                float: left;
                width: 90%;
                padding: 0 5%;
                .product-name {
                    .beta;
                    font-weight: 700;
                    width: 100%;
                    float: left;
                    margin-bottom: 20px;
                }
                .product-availability {
                    .delta;
                    float: left;
                    width: 100%;
                    margin-bottom: 20px;
                    position: relative;
                    .product-availability-item {
                        width: 45%;
                        margin-right: 5%;
                        float: left;
                        overflow: hidden;
                        position: relative;
                        .product-availability-text {
                            display: inline;
                            padding-left: 10px;
                        }
                        .product-availability-icon {
                            display: inline;
                        }
                        &.inStock {
                            .icon {
                                color: @brand-success;
                            }
                        }
                        &.outStock {
                            .icon {
                                color: @brand-danger;
                            }
                        }
                    }
                }
                .product-price {
                    .gamma;
                    color: @brand-primary;
                    width: 100%;
                    margin-bottom: 20px;
                    position: relative;
                    float: left;
                }
                .product-desc {
                    .delta;
                    float: left;
                    color: @black-70;
                    line-height: 1.5em;
                    margin-bottom: 20px;
                    width: 100%;
                    position: relative;
                }
            }
        }
        .product-details-spec-sc {
            overflow: hidden;
            position: relative;
            width: 100%;
            .product-details-title {
                margin-bottom: 10px;
            }
            .product-details-spec-item {
                .delta;
                margin: 0;
                width: 100%;
                overflow: hidden;
                position: relative;
                float: left;
                border-bottom: 1px dotted @offWhite;
                .product-details-spec-label {
                    padding: 10px 0;
                    width: 30%;
                    float: left;
                    font-weight: 700;
                }
                .product-details-spec-value {
                    float: left;
                    padding: 10px 0;
                    width: 65%;
                    font-weight: 400;
                    padding-left: 4%;
                    border-left: 1px solid @black-40;
                }
            }
        }
    }
}

.product-map-sc {
    .search-map-sc;
    width: 80%;
    left: 20%;
    margin: 0 auto;
    .product-map-container {
        width: 100%;
        float: right;
        margin: 0 auto;
        height: 94%;
        overflow: hidden;
        position: relative;
        .map-control-bar {
            top: 60px;
        }
        .search-info-sc {
            top: 60px;
        }
    }
    #product-map-canvas {
        width: 100%;
        float: right;
        height: 100%;
    }
    .product-filter-sc {
        .search-sc .search-filter-sc;
        z-index: 98;
        display: block;
    }
}
