
.search-sc {
    width: 100%;
    position: absolute;
    top: 48px;
    bottom: 40px;
    box-shadow: 1px 2px 3px @black-60;
    .search-sc-inner {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: block;
    }
    .search-filter-sc {
        width: 100%;
        background: darken( @ivory, 5% );
        box-shadow: 1px 2px 3px @black-60;
        position: relative;
        border-top: 1px solid @black-20;
        border-bottom: 1px solid @black-20;
        padding: 5px 0;
        z-index: 99;

        // FILTER BAR CSS
        .search-filter-inner {
            position: relative;
            padding: 0 5px;
            .search-filter-main {
                position: relative;
                overflow: visible;
                .search-filter-category {
                    .delta;
                    float: left;
                    width: 22.7%;
                    margin: 0;
                    position: relative;
                    padding-right: 2%;
                    word-spacing: 3px;
                    border-right: 1px solid @black-20;
                    .category-label {
                        float: left;
                        line-height: 2.2em;
                        padding-right: 10px;
                    }
                    .filter-item {
                        .eys-dropdown;
                        float: right;
                        margin-right: 5px;
                        margin-bottom: 0;
                        padding: 5px 10px;
                    }
                }
                .search-filter-label {
                    .delta;
                    margin: 0;
                    line-height: 2.2em;
                    width: 12%;
                    float: left;
                    padding: 0 10px;
                }
                .search-filter-collapse {
                    float: left;
                    clear: both;
                    display: block;
                    position: relative;
                    overflow: hidden;
                }
                .search-filter-item-sc {
                    position: relative;
                    float: left;
                    width: 55%;
                    display: none;
                    .filter-item {
                        .delta;
                        width: 23.5%;
                        margin: 0 0 0 1%;
                        float: left;
                        border: 1px solid @black-20;
                        position: relative;
                        background: white;
                        cursor: pointer;
                        padding: 5px 0;
                        border-radius: 3px;
                        &.selected {
                            background: white;
                            border-radius: 0;
                            .border-top-radius( 3px );
                        }
                        .filter-item-status {
                            color: @brand-success;
                            display: none;
                            float: left;
                        }
                        .filter-item-label {
                            float: left;
                            color: @black-70;
                            text-align: left;
                            padding-left: 5px;
                        }
                        .filter-item-dropdown {
                            float: right;
                            padding-right: 10px;
                            color: @black-10;
                        }
                        .filter-item-list {
                            display: none;
                            width: 95%;
                            left: -1px;
                            position: absolute;
                            top: 29px;
                            background: white;
                            padding: 10px 2.5%;
                            overflow: hidden;
                            border-bottom-right-radius: 2px;
                            border-bottom-left-radius: 2px;
                            border: 1px solid @black-20;
                            border-top: none;
                            .filter-item-list-item {
                                float: left;
                                overflow: hidden;
                                padding: 10px 0;
                                width: 100%;
                                border-bottom: 1px dotted @black-20;
                                .icheckbox_flat-red {
                                    float: left;
                                    margin-right: 10px;
                                }
                                label {
                                    cursor: pointer;
                                }
                            }
                            &.more-filter-dropdown {
                                width: 397%;
                                left: -301.9%;
                                overflow: hidden;
                                max-height: 400px;
                                .more-filter-item {
                                    display: block;
                                    margin-top: 10px;
                                    overflow: hidden;
                                    position: relative;
                                    float: left;
                                    width: 96%;
                                    padding: 2%;
                                    .more-filter-item-name {
                                        .delta;
                                        font-weight: 700;
                                        padding-bottom: 10px;
                                        border-bottom: 1px solid @black-60;
                                        width: 100%;
                                    }
                                    .box-filter-item {
                                        .delta;
                                        margin-bottom: 0;
                                        float: left;
                                        width: 30%;
                                        margin: 10px 0.5%;
                                        background: @ivory;
                                        border-radius: 4px;
                                        border: 1px solid darken( @ivory, 10% );
                                        .box-filter-item-status {
                                            .transition( all 0.5s ease-in-out );
                                            display: block;
                                            width: 0px;
                                            float: left;
                                            background: lighten( @brand-success, 15% );
                                            color: @brand-success;
                                            text-align: center;
                                            padding: 8px 0;
                                            opacity: 0;
                                        }
                                        .box-filter-item-name {
                                            .transition( all 0.5s ease-in-out );
                                            padding: 8px 25px;
                                            text-align: center;
                                        }
                                        &.active {
                                            background: darken( @ivory, 10% );
                                            border: 1px solid darken( @ivory, 20% );
                                            .box-filter-item-status {
                                                width: 40px;
                                                opacity: 1;
                                                box-shadow: -1px 3px 5px inset;
                                            }
                                            .box-filter-item-name {
                                                padding: 8px 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .filter-list-slider {
                            .filter-item-list-slider-data {
                                display: none;
                            }
                            .filter-item-list-slider-label {
                                .epsilon;
                                width: 100%;
                                display: block;
                                position: relative;
                            }
                            .filter-item-list-slider-canvas {
                                .noUiSlider;
                                width: 90%;
                                margin: 0 auto;
                                position: relative;
                            }
                        }
                    }
                }
            }
        }
    }

    .search-main-sc {
        overflow: hidden;
        position: absolute;
        top: 43px;
        bottom: 0;
        display: block;
        width: 100%;
        // PRODUCT LIST CONTAINER CSS
        .search-product-sc {
            width: 25%;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            box-shadow: 1px 2px 3px @black-70;
            z-index: 98;
            .transition( all 0.25s ease-in-out );
            &.search-product-expanded {
                width: 80%;
            }
            .search-expand-container {
                position: absolute;
                top: 45%;
                left: 100%;
                z-index: 99;
                background: white;
                padding: 10px;
                box-shadow: 1px 2px 3px #3c3c3c;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                font-size: 1.5em;
                cursor: pointer;
                &:hover{
                    color: @brand-primary;
                }
                .non-active {
                    display: none;
                }
                &.open {
                    .active {
                        display: none;
                    }
                    .non-active {
                        display: block;
                    }
                }
            }
            .search-product-list-sc {
                overflow: hidden;
                height: 100%;
                position: relative;
                width: 100%;
            }
            .search-product-inner {
                position: relative;
                height: 100%;
                text-align: center;
                border-top: 40px solid white;
                .search-product-loading {
                    i {
                        color: @brand-primary;
                        font-size: 4em;
                        text-align: center;
                        margin-top: 40%;
                    }
                    .text {
                        .delta;
                        margin: 20px 0;
                        width: 100%;
                        text-align: center;
                        color: @brand-primary;
                    }
                }
                .search-product-item {
                    overflow: hidden;
                    float: left;
                    width: 100%;
                    position: relative;
                    text-align: left;
                    .search-product-item-inner {
                        overflow: hidden;
                        border-bottom: 1px solid @black-20;
                        padding: 10px 0 0 0;
                        .product-info {
                            position: relative;
                            display: block;
                            overflow: hidden;
                            padding: 0 5px;
                            box-shadow: 1px 2px 3px @black-60;
                            z-index: 10;
                            cursor: pointer;
                            .product-image {
                                width: 25%;
                                float: left;
                                vertical-align: middle;
                                text-align: center;
                                overflow: hidden;
                                img {
                                    width: 100%;
                                    display: inline;
                                }
                            }
                            .product-name {
                                .delta;
                                font-weight: 400;
                                margin: 0 2.5%;
                                float: left;
                                width: 65%;
                            }
                            .product-price {
                                .delta;
                                color: @brand-primary;
                                width: 30%;
                                float: left;
                                margin: 0;
                                i {
                                    font-size: 1em;
                                }
                            }
                            .product-brand {
                                float: left;
                                width: 75%;
                                margin: 10px 2.5%;
                            }
                            .product-details {
                                width: 70%;
                                float: left;
                                margin-left: 5%;
                                overflow: hidden;
                            }
                        }
                        .product-expand {
                            display: block;
                            width: 100%;
                            overflow: hidden;
                            text-align: center;
                            display: none;
                            color: @black-70;
                            &:hover {
                                .transition( 0.5s all ease-in-out );
                                color: @brand-primary;
                                cursor: pointer;
                            }
                            .product-expand-inner {
                                padding: 10px 0;
                                background: darken( @ivory, 10% );
                                position: relative;
                                overflow: hidden;
                                display: block;
                            }
                            .product-expand-message {
                                .border-radius( 4px );
                                .delta;
                                margin: 0 auto;
                                width: 60%;
                                padding: 5px;
                                display: inline;
                            }
                        }
                    }
                    &.active {
                        background: @ivory;
                    }
                }
                .search-store-item {
                    .search-product-item;
                }
            }
            .search-product-expanded {
                display: none;
                background: white;
                overflow: hidden;
                position: relative;
                .search-product-expanded-title {
                    display: block;
                    width: 96%;
                    padding: 10px 2%;
                    .search-product-expanded-tab-container {
                        float: left;
                        display: block;
                        position: relative;
                        padding: 10px 0;
                        .search-product-expanded-tab-container-inner {
                            width: 100%;
                            position: relative;
                            padding: 0 10px;
                            .search-product-expanded-tab-item {
                                font-size: 1.6em;
                                font-weight: 700;
                                margin-bottom: 0;
                                display: block;
                                float: left;
                                margin-right: 40px;
                                padding-bottom: 5px;
                                &.active {
                                    border-bottom: 2px solid @brand-primary;
                                    color: @brand-primary;
                                }
                            }
                        }
                    }
                    .sort-menu {
                        float: right;
                        width: 25.3%;
                        position: relative;
                        .sort-menu-label {
                            .delta;
                            float: left;
                            line-height: 2em;
                            padding-right: 10px;
                        }
                        .filter-item {
                            .eys-dropdown;
                            background: @ivory;
                            min-width: 150px;
                        }
                    }
                }
                .search-product-expanded-item {
                    width: 17%;
                    margin: 10px 1%;
                    float: left;
                    background: white;
                    border: 1px solid @black-20;
                    .product-info-bottom {
                        width: 95%;
                        padding: 10px 2.5%;
                        display: block;
                        position: relative;
                        overflow: hidden;
                        background: @offWhite;
                        .product-info-left {
                            .delta;
                            margin: 0;
                            float: left;
                            position: relative;
                            display: block;
                            width: 70%;
                            .product-name {
                                font-weight: 700;
                            }
                            .product-brand {
                                margin-top: 10px;
                            }
                        }
                        .product-info-right {
                            float: right;
                            position: relative;
                            display: block;
                            width: 30%;
                            .product-price {
                                .delta;
                                color: @brand-primary;
                                text-align: center;
                                line-height: 1.5em;
                                margin: 0;
                            }
                        }
                    }
                    .product-image {
                        width: 100%;
                        overflow: hidden;
                        img{
                            display: inline;
                            width: 100%;
                        }
                    }
                }
            }
            .search-product-shortlist-items {
                display: block;
                width: 100%;
                position: relative;
                overflow: hidden;
                display: none;
                border-top: 40px solid white;
                .search-product-shortlist-empty-container {
                    margin-top: 40%;
                    width: 100%;
                    text-align: center;
                    i {
                        padding-left: 5px;
                        font-size: 4em;
                        color: @brand-primary;

                    }
                    .text {
                        .delta;
                        margin: 20px 0;
                        color: @brand-primary;
                    }
                }
                .shortlist-list-item {
                    display: block;
                    float: left;
                    position: relative;
                    width: 100%;
                    border-bottom: 1px solid @black-20;
                    cursor: pointer;
                    &:hover {
                        background: @ivory;
                    }
                    .shortlist-list-item-inner {
                        padding: 10px;
                        overflow: hidden;
                        position: relative;
                        display: block;
                        .shortlist-list-item-name {
                            .delta;
                            margin: 0;
                            width: 60%;
                            float: left;
                            position: relative;
                            display: block;
                        }
                        .shortlist-list-item-price {
                            .delta;
                            text-align: right;
                            float: left;
                            width: 38%;
                            margin-right: 2%;
                            display: block;
                            position: relative;
                            margin: 0;
                            color: @brand-primary;
                        }
                        .shortlist-list-item-product {
                            .epsilon;
                            margin-bottom: 0;
                            padding: 5px 2%;
                            width: 96%;
                            float: left;
                            color: @black-40;
                        }
                    }
                }
            }
            .search-product-menu {
                overflow: hidden;
                position: absolute;
                top: 0;
                width: 100%;
                border-bottom: 10px solid white;
                z-index: 99;
                .search-product-menu-item {
                    width: 45%;
                    overflow: hidden;
                    float: left;
                    display: block;
                    padding: 10px 2.3%;
                    background: @offWhite;
                    color: @black-80;
                    position: relative;
                    border-right: 2px solid @black-40;
                    cursor: pointer;
                    text-align: center;
                    &:hover{
                        color: black;
                    }
                    &.item-last {
                        border: none;
                    }
                    .menu-item-icon,
                    .menu-item-title,
                    .menu-item-count {
                        .delta;
                        margin: 0;
                        display: block;
                        float: left;
                        position: relative;
                        margin-right: 10px;
                    }
                    .menu-item-title {
                        display: inline;
                        float: none;
                    }
                    .menu-item-icon {
                        display: block;
                        opacity: 0;
                        margin-right: 0;
                    }
                    .menu-item-count {
                        .epsilon;
                        margin: 0;
                        background: #27abe9;
                        margin-right: 0;
                        margin-left: 10px;
                        padding:  0 5px;
                        border-radius: 4px;
                        color: white;
                        line-height: 1.5em;
                    }
                    .menu-item-arrow-container {
                        display: none;
                        position: absolute;
                        left: 50%;
                        bottom: -3px;
                        background: transparent;
                    }
                    &.selected {
                        background: darken( @offWhite, 10% );
                        .menu-item-arrow-container {
                            display: block;
                        }
                    }
                }
            }
            .search-product-shortlisted {
                width: 100%;
                overflow: hidden;
                position: relative;
                margin: 0;
                padding: 0;
                background: @brand-secondary;
                .count {
                    .delta;
                    margin: 0;
                    display: block;
                    width: 5.5%;
                    padding: 5px 2%;
                    float: left;
                    background: darken( @brand-secondary, 3% );
                    text-align: center;
                    color: white;
                    font-weight: 700;
                    border-right: 1px solid darken( @brand-secondary, 10% );
                    span {
                        display: inline;
                        vertical-align: middle;
                    }
                }
                .title {
                    width: 96%;
                    padding: 5px 2%;
                    color: white;
                    overflow: hidden;
                    .title-text {
                        .delta;
                        line-height: 1.5em;
                        margin: 0;
                        float: left;
                        position: relative;
                    }
                    .shortlist-count {
                        background: @black-60;
                        color: @ivory;
                        padding: 0 10px;
                        border-radius: 4px;
                        display: block;
                        float: left;
                        line-height: 2em;
                        margin-left: 10px;
                    }
                    .shortlist-toggle-button {
                        .flat-button;
                        background: darken( @brand-secondary, 3% );
                        color: white;
                        width: 20px;
                        padding: 5px;
                        float: right;
                    }
                }
            }
        }
    }
}


.search-map-sc {
    width: 75%;
    overflow: hidden;
    position: absolute;
    left: 25%;
    top: 0;
    height: 100%;
    .y-notification {
        .animated;
        .fadeInRight;
        display: none;
        position: absolute;
        bottom: 40px;
        width: 35%;
        right: 0;
        padding: 10px;
        background: @brand-primary;
        opacity: 0.8;
        overflow: hidden;
        z-index: 9999;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        .text {
            .delta;
            color: white;
            margin-bottom: 0;
            text-align: center;
        }
    }
    #map-canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

